body {
  background-color: #f1f1f1;
  color: #777;
}
h1 {
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  margin-top: 5px;
  color: #888;
}

a {
  font-size: 14px;
  color: #888;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s ease;  
}
a:hover, a:focus {
  color: #ff6633;
  text-decoration: none;
  cursor: pointer;
  text-shadow: none;
}
p {
  color: #888;
  font-size: 14px;
}
table {
  width: 100%;
}
.orange {
  color: #ff6633;
}
.pointer {
  cursor: pointer;
}
.form-control {
  width: 100%;
}
.right-align {
  float: right;
}
.center-align {
  text-align: center;
}
.width-full {
  width: 100%;
}
.width-half {
  width: 50%;
}
.padding-left-none {
  padding-left: 0;
}
.whitespace {
  white-space: nowrap;
  overflow: hidden;  
}
.whitespace-normal {
  white-space: :normal;
}
.menu.fa-bars, .menu.fa-cog, .menu.fa-heart, .menu.fa-user, .menu.fa-sign-out {
  color: #ff6633;
}
.menu.fa-bars:hover, .menu.fa-cog:hover, .menu.fa-heart:hover, .menu.fa-user:hover, .menu.fa-times:hover, .menu.fa-sign-out:hover {
  color: #111;
}
.active {
  border-bottom: 3px solid #ff6633;
  padding-bottom: 5px;
}
.active > a {
  /*color: #ff6633;*/
}
.medium-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.clickable {
  cursor: pointer;
}
/************** Navbar **************/
.container-fluid {
  background-color: #fff;
}
.navbar {
  position: fixed;
  margin-bottom: 0;
  background-color: #fff;
  height: 50px;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 3px #ccc;
}
.brand-logo {
  width: 38px;
  height: 38px;
  margin-top: 4px;
  position: fixed;
}
.brand-title {
  position: fixed;
  margin-left: 40px;
  margin-top: 15px ;
  font-size: 18px;
  color: #ff6633;
}
.navbar-brand {
  position: fixed;
  padding: 0 0 0 15px;
  height: 40px; 
}
.navbar-brand:hover{
  text-shadow: 1px 1px 1px #ddd;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #fff;
  width: 100%;
}
.nav-list-item {
  padding: 14px;
}
.nav-list-search {
  position: fixed;
  margin-left: 88px;
}
.product-search-box {
  position: fixed;
  padding-top: 8px;
  width: 240px;
}
.product-search {
  width: 192px;
  margin-left: 20px;
  border-radius: 0;
  height: 30px;
  margin-top: 1px;
  padding-left: 8px;
}
.product-search-btn {
  height: 30px;
  margin-top: 1px;
  padding: 4px 7px;
  border-radius: 0;
}
.product-search-btn:hover {
  color: #ff6633;
}
.fa-search {
  color: #c4c4c4;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
  color: #ff6633;
}
.left-navbar {
  background-color: #fff;
  height: 500px;
  padding: 15px;
}
.right-nav {
  background: #fff;
  height: 700px;
  padding: 15px;
}
.category {
  list-style: none;
  padding: 1px 0;
  cursor: pointer;
}
.category-canvas {
  padding-left: 0;
}
.category-title {
  border-bottom: 1px solid #e5e5e5;
  width: 90px;
  padding-bottom: 5px;
  color: #bbb;
  cursor: pointer;
}
.category-title:hover {
  color: #ff6633;
}
.menu {
  z-index: 999;
}
.post-add {
  position: fixed;
  top: 4px;
  right: 80px;
}
.menu-motion-btn {
  position: fixed;
  right: 44px;
  top: 14px;
  cursor: pointer;
}
.login-btn {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 15px;
  font-size: 15px;
  color: #ff6633;
}
.login-btn:hover{
  color: #888;
}
.plus {
  font-size: 26px;
  cursor: pointer;
}
.message-box {
  position: absolute;
  right: 63px;
  top: 7px;
  cursor: pointer;
}
/*********** LANDING PAGE  *************/
.landing-banner-cover {
  padding: 0;
}
.landing-banner {
  height: 290px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
  margin-top: 65px;
  background: url(https://s3.amazonaws.com/delbapplication/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.bars {
  z-index: 999;
  color: #fff;
}
/**************Product List **************/
.product-list-canvas {
 
}
.product-list {
  list-style: none;
  padding-left: 0;
  background-color: #fff;
}
.product-item {
  padding: 15px;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
}
.product-item:hover{
  background-color: #f2f2f2;
}
.product-item > * {
  display: inline-block;
  vertical-align: middle;
}
.product-item-media {
  width: 150px;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s ease;    
}
.product-item-media:hover {
  border-bottom: 0px solid #f1f1f1;  
  box-shadow: 1px 1px 6px #777;
}
.product-item-info {
  padding: 0 20px;
  height: 100px;
  white-space: nowrap;
  width: 100%;
}
.product-item-info p {
  line-height: 20px;
  color: #999;
  font-size: 14px;
}
.product-item-info h2 {
  margin-top: 0;
}
.product-stats {
  padding-top: 7px;
}
.product-item-li:hover .product-item-link {
  display: block;
}
.product-item-link {
  display: none;
  position: relative;
  width: 24px;
  padding: 3px;
  border-radius: 50%;
  float: right;
  background-color: #fff;
  text-align: center;
  margin-top: -50px;
  margin-right: 15px;
}
.small-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;  
}
.small-avatar:hover {
  box-shadow: 1px 1px 3px #777;
}
/******* COMMENT BUTTON *******/
.comment-button {
  font-weight: 200;
  min-width: 50px;
  text-align: center;
  padding: 1px 0;
  border-radius: 4px;
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
  border: 1px solid #f1f1f1;  
  cursor: pointer;
}
.comment-button:hover {
  color: #ff6633;
}
.comment-bubble {
  text-align: top;
  padding: 3px;
}
.comment-count {
  padding: 3px;
}
/******* UPVOTE BUTTON *******/
.upvote-button {
  font-weight: 200;
  min-width: 50px;
  text-align: center;
  padding: 1px 0;
  border-radius: 4px;
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}
.upvote-button:hover {
  color: #ff6633;
}
.upvote-button.active {
  color: #5e9aee;
}
.upvote-button > * {
  padding: 3px;
}
.up-heart {
  vertical-align: text-top;
}

/********** Category **********/
.category-select {
  padding: 3px 5px;
  cursor: pointer;
  display: block;
}
/************* POPUP **************/
.popup .popup-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.97;
  z-index: 99;
}
.popup .popup-wrap img {
  position: fixed;
  top: 40px;
  left: 40px;
  cursor: pointer;
  
}
.popup .popup-content.post-popup {
  padding: 25px 25px 45px 25px;
  border-radius: 5px;  
}
.popup .popup-content {
  position: fixed;
  z-index: 999;
  background: #efefef;
}
.popup .popup-content > h1 {
  position: absolute;
}
.popup-close {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px;
  background: #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}
.popup-close:hover {
  color: #ddd;
  background-color: #888;
}
.absolute {
  position: absolute;
}
button.post-btn {
  margin-top: 10px;
  padding: 12px 70px;
  font-weight: 500;
  outline: 0;
  border: 0;
  background-color: #ff6633;
  color: white;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  background-color: #e5663b;
}
.popup-content.login-popup {
  text-align: center;
  min-width: 320px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header-login {
  font-weight: 200;
  margin-top: 0;
}
.subheader-login {
  font-weight: 100;
  margin-bottom: 25px;
  font-size: 16px;
}
.facebook-login-btn {
  color: #fff;
  background-color: #3b5998;
  padding: 12px 20px;
  border: none;
  width: 80%;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
}
.twitter-login-btn {
  color: #fff;
  background-color: #55acee;
  padding: 12px 20px;
  border: none;
  width: 80%;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.facebook-disclaimer {
  font-weight: 100;
  margin: 15px 15px 30px 15px;
}
.facebook-login-btn:hover, .twitter-login-btn:hover{
  color: #ff6633;
  background-color: #fff;
}
.post-popup {
  text-align: center;
  width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.post-header {
  padding-bottom: 15px;
}

/************* PRODUCT POPUP***************/
.product-popup {
  width: 90%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  overflow: scroll;
  border-left: 1px solid #f0efef;
}
.product-popup header {
  text-align: center;
  background-color: #5e9aee;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-popup header .header-shadow {
  background-color: transparent;
  background-image: linear-gradient(-225deg, rgba(214,66,8,0.5) 0%, rgba(255,158,68,0.5) 60%);
  padding: 45px;
}
.product-popup header .header-shadow > h1 {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  line-height: 48px;
  text-shadow: 1px 1px 3px #000;
}
.product-popup header .header-shadow > h2 {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
.product-popup header .header-shadow > p {
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
.product-popup header .header-shadow > section > * {
  display: inline-block;
  vertical-align: middle;
}
.product-popup header .header-shadow > section .getit-btn {
  border-radius: 4px;
  padding: 15px 25px;
  background-color: #5898f1;
  color: white;
  text-shadow: 0px 0px 0px #000;
}
.product-popup .product-popup-body main .discussion {
  margin: 50px auto;
  width: 80%;
}
.product-popup .product-popup-body main .discussion h2{
  color: #fff;
  padding-bottom: 20px;
}
.product-popup .product-popup-body main .discussion .post-comment{
  margin: 10px 0;
  padding: 20px;
  background-color: #f9f9f9;
  display: -webkit-flex;
  display: flex;
  -webkit-align-tems: center;
  align-items: center;
}
.product-popup .product-popup-body main .discussion .post-comment img {
  margin-right: 15px;
}
.product-popup .product-popup-body main .discussion .post-comment input {
  padding: 10px;
  font-size: 15px;
  width: 90%;
  border: 1px solid #f0efefd;
}
.comment-list li {
  padding: 20px 0 10px 0; 
  list-style: none;
}
.comment-list li > *{
  display: inline-block;
  vertical-align: top;
}
.comment-list li > section{
  margin-left: 15px;
}
.comment-list li > section strong {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 6px;
}
.comment-list li > section p {
  font-size: 14px;
}
select.select-category {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: url(../img/dropdown.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 170px;
  margin-left: 15px;
  height: 36px;
  margin-top: 1px;
}
/************* TOP TEN LIST***************/
.topten {
  list-style: none;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px 5px 22px 1px;
}
.topten:hover {
  background: #f2f2f2;
  color: #ff6633;
}
.topten:hover .topten-name { 
  color: #ff6633;
}
.topten:hover .topten-rank {
  color: #ff6633;
  opacity: 1;
  transition: opacity .7s;
  -webkit-transition: opacity .7s;
}
.topten:hover .topten-img {
  margin-left: 8px;
/*  transition: margin-left .6s;
  -webkit-transition: margin-left .6s;*/
}
.topten-img{
  z-index: 99;
  float: left;
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  margin-left: -27px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;    
}
.topten-description {
  margin-left: 46px;
  margin-top: 0px;
  color: #999;
  font-size: 11px;
}
.topten-name {
  font-size: 12px;
  vertical-align: super;
  color: #777;
}
.topten-rank {
  margin-top: 15px;
  font-size: 11px;
  float: left;
  opacity: 1;  
  padding-top: 2px;
  z-index: 0;
  opacity: 0;
  color: #aaa;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 11px;
  text-align: center;
  margin-left: 8px;
  margin-top: 16px;
}
.topten-ul {
  padding:0;
}

/************* PROFILE MENU *************/
.profile-menu .profile-btn {
  opacity: 0.9;
}
.profile-menu .profile-btn:hover {
  cursor: pointer;
  opacity: 1;
}
.profile-menu .profile-nav {
  position: fixed;
  top: 53px;
  right: 70px;
  background-color: white;
  border-radius: 4px;
  text-align: left;
  box-shadow: 1px 1px 10px #999;
}
.profile-menu .profile-nav a {
  display: block;
  width: 240px;
  font-size: 15px;
  line-height: 38px;
  padding: 0 20px;
  color: #bbb;
}
.profile-menu .profile-nav a:hover {
  background-color: #f2f2f2;
  border-radius: 4px;
}
.profile-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
/************** PROFILE PAGE **************/
.profile-pg-img-container {
  background-color: #fff;
  margin-top: 65px;
  height: 220px;
}
.profile-pg-img {
  margin-top: 148px;
  float: left;
  border: 15px solid #fff;
  width: 170px;
  height: 170px;
  margin-left: 50px;
  padding: 0;
}
.profile-pg-name {
  padding-bottom: 15px;
  display: inline-block;
  position: absolute;
  margin-top: 166px;
  padding-left: 34px;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px 6px #555;
}
.profile-pg-description {
  padding: 25px 100px 45px 100px;
}
.profile-stat {
  display: inline-block;
  list-style: none;
  padding: 35px 30px 10px 25px;
  color: #888;
}
.profile-stat .stat-center {
  text-align: center;
}
.profile-stat > a {
  font-size: 16px;
}
.profile-stat > a:hover {
  color: #ff6633;
}
.profile-content-area {
  min-height: 300px;
  background: #fff;
  margin-top: 15px;
  padding: 110px 20px 15px 20px;
}
.profile-content-items {
  margin-top: 30px;
  padding-left: 0;
}
.profile-product {
  padding: 8px;
  cursor: pointer;
}
.profile-product .thumbnail{
  min-height: 200px;
  padding: 10px;
  text-align: center;
}
.profile-product .thumbnail:hover {
  background-color: #f1f1f1;
}
.profile-product-title {
  /*width: 70%;*/
  padding-left: 8px;
  color: #777;
  padding-top: 11px;
}
.profile-product-img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.profile-product-description {
  padding-top: 5px;
  white-space: normal;
  font-size: 13px;
}
.profile-product-btn {
  margin: 14px 2px 5px 2px;
  width: 60px;
  text-align: center;
  color: #888;
}
.profile-product-btn .fa-heart {
  color: #888;
}
.follow-btn-desktop {
  padding: 6px 18px;
  color: #777;
  font-size: 15px;
  float: right;
  margin-top: -150px;
  margin-right: -5%;
}
.follow-btn-desktop:hover, .follow-btn-mobile:hover {
  color: #ff6633;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}
.follow-btn-mobile {
  padding: 5px 10px;
  color: #777;
  font-size: 15px;
  position: absolute;
  color: #777;
  text-align: center;
  margin: 0 auto;
  margin-top: -87px;
  margin-left: 60%;
  font-size: 13px;
}  
.stat-area {
  padding-top: 8px;
}
.stat-center {
  text-align: center;
  padding-bottom: 4px;
}
/********** POST CARD **************/
.postcard {
  margin-bottom: 8px;
  padding: 8px;
  list-style: none;
}
.postcard:hover {
  box-shadow: 1px 1px 6px #999;
}

.postcard-img {
  height: 202px;
}
.postcard-title {
  position: absolute;
  bottom: 40px;
  z-index: 99;
  margin-left: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #777;
}
.postcard-btn {
  border-radius: 0;
  color: #888;
}
.likecard-title {
  position: absolute;
  bottom: 10px;
  z-index: 99;
  margin-left: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #777; 
}
.likes-maker-avatar {
  display: none;
  border-radius: 50%;
  width: 42px;
  position: absolute;
  left: 15px;
  bottom: 30px;
}
.likes-maker-avatar:hover{
  box-shadow: 1px 1px 6px #333;
}
.postcard:hover .likes-maker-avatar{
  display: block;
}

/************** EMPTY POST *************/
.empty-post {
  text-align: center;
}
.empty-post-heading {
  color: #999;
  margin: 52px auto;
}
/************** MEDIA QUERY *************/
/************** MEDIA QUERY *************/
/************** MEDIA QUERY *************/
@media(max-width: 767px){

  /********* Navbar Mobile************/
  .navbar-header {
    background-color: #fff;
    height: 48px;
  }
  .product-search-box {
    width: 140px;
  }
  .product-search{
    width: 100px;
  }
  .product-item {
    padding-left: 10px;
  }
  .product-item-info {
    padding: 0 15px;
  }
  .upvote-button {
    margin-right: 10px;
  }
  .navbar-toggle {
    margin-top: 6px;
    margin-bottom: 3px;
  }
  /************* POP UPS Mobile *************/
  .popup .popup-content.post-popup {
    padding: 5px 15px 25px 15px;
    width: 340px;
  }
  .post-btn {
    width: 100%;
    margin-top: 0;
  }
  .padding-zero-left {
    padding-left: 0;
  }

  /********* LANDING PAGE Mobile ************/
  .product-list-canvas {
    padding: 0;
  }
  .landing-banner {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .control-label {
    text-align: right;
  }
  /***** New Post Pop Up Mobile ****/
  select.select-category {
    margin-left: 0;
  }
  /******* Profile Page Mobile ********/
  .profile-pg-img-container {
    text-align: center;
  }
  .profile-content-area {
    padding-top: 120px;
  }
  .stat-area {
    padding-top: 22px;
  }
  .profile-pg-img {
    margin: 8px auto;
    border-radius: 50%;
    position: relative;
    float: none;
    width: 128px;
    height: 128px;
    margin-top: 22px;
  }
  .profile-pg-name {
    display: block;
    position: relative;
    margin-top: 0px;
    padding: 5px;
    font-size: 18px;
  }
  .main-btn-container {
    text-align: center;
    font-size: 12px;
  }
  .profile-stat {
    margin-left: 0;
    font-size: 14px;
    min-width: 100px;
    padding: 35px 20px 10px 20px;
  }
  .profile-product-img {
    width: 90px;
  }
  .profile-product-title {
    width: 100%;
  }
  .profile-pg-description {
    padding: 20px 30px 45px 30px;
  }
  .profile-content-items {
    margin-top: 30px;
  }
  /*** Post Card Mobile ***/
  .postcard {
    font-size: 12px;
  }
  .postcard-img {
    height: 150px;
  }
}

@media(min-width: 168px) and (max-width: 991px){
  .product-list-canvas{
    padding-right: 0;  
  }
}

@media(min-width: 768px){
  .popup .popup-content.post-popup {
    min-width: 80%;
  }
}













