body {
  background-color: #f1f1f1;
  color: #777;
}
h1 {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}
h5 {
  margin-top: 5px;
  color: #888;
}

a {
  font-size: 13px;
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #ff6633;
  text-decoration: none;
  cursor: pointer;
  text-shadow: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s ease;
}
p {
  color: #888;
  font-size: 13px;
}
table {
  width: 100%;
}
.right-align {
  float: right;
}
.width-full {
  width: 100%;
}
.width-half {
  width: 50%;
}
.fa-bars, .fa-cog, .fa-heart, .fa-user, .fa-sign-out {
  color: #ff6633;
}
.fa-bars:hover, .fa-cog:hover, .fa-heart:hover, .fa-user:hover, .fa-times:hover, .fa-sign-out:hover {
  color: #111;
}
.active {
  border-bottom: 3px solid #ff6633;
  padding-bottom: 5px;
  /*color: #ff6633;*/
}
.active > a {
  /*color: #ff6633;*/
}
.medium-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.clickable {
  cursor: pointer;
}
/************** Navbar **************/
.container-fluid {
  background-color: #fff;
}
.navbar {
 margin-bottom: 0;
 background-color: #fff;
 height: 50px;
}
.brand-logo {
  width: 38px;
  height: 38px;
  margin-left: 14px;
  margin-top: 4px;
}
.brand-title {
  position: absolute;
  margin-top: 15px ;
  font-size: 18px;
  color: #ff6633;
}
.navbar-brand {
  padding: 0 0 0 15px;
  height: 40px; 
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #fff;
}
.nav-list-item {
  padding: 14px;
}
.nav-list-search {
  position: absolute;
  margin-left: 38px;
}
.product-search-box {
  padding-top: 8px;
  width: 240px;
}
.product-search {
  width: 192px;
  margin-left: 20px;
  border-radius: 0;
  height: 30px;
  margin-top: 1px;
  padding-left: 8px;
}
.product-search-btn {
  height: 30px;
  margin-top: 1px;
  padding: 4px 7px;
  border-radius: 0;
}
.product-search-btn:hover {
  color: #ff6633;
}
.fa-search {
  color: #c4c4c4;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
  color: #ff6633;
}
.left-navbar {
  background-color: #fff;
  height: 500px;
  padding: 15px;
}
.right-nav {
  background: #fff;
  height: 700px;
  padding: 15px;
}
.category {
  list-style: none;
  padding: 1px 0;
  cursor: pointer;
}
.category-canvas {
  padding-left: 0;
}
.category-title {
  border-bottom: 1px solid #e5e5e5;
  width: 90px;
  padding-bottom: 5px;
  color: #bbb;
}
.menu {
  z-index: 999;
}
.post-add {
  position: absolute;
  top: 4px;
  right: 80px;
}
.menu-motion-btn {
  position: absolute;
  right: 44px;
  top: 14px;
  cursor: pointer;
}
.login-btn {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 15px;
  font-size: 15px;
  color: #ff6633;
}
.login-btn:hover{
  color: #888;
}
.plus {
  font-size: 26px;
  cursor: pointer;
}
.message-box {
  position: absolute;
  right: 63px;
  top: 7px;
  cursor: pointer;
}
/*********** LANDING PAGE  *************/
.landing-banner-cover {
  padding: 0;
}
.landing-banner {
  height: 290px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
  background: url(https://s3.amazonaws.com/delbapplication/banner.png);
}
.bars {
  z-index: 999;
  color: #fff;
}
/**************Product List **************/
.product-list-canvas {
 
}
.product-list {
  list-style: none;
  padding-left: 0;
  background-color: #fff;
}
.product-item {
  padding: 15px;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
}
.product-item:hover{
  background-color: #f2f2f2;
}
.product-item > * {
  display: inline-block;
  vertical-align: middle;
}
.product-item-media {
  width: 140px;
  height: 100px;
}
.product-item-info {
  padding: 0 20px;
  height: 90px;
  white-space: nowrap;
}
.product-item-info p {
  line-height: 20px;
  color: #999;
  font-size: 14px;
}
.product-item-info h2 {
  margin-top: 0;
}
.product-item-link {
  display: block;
  width: 24px;
  padding: 3px;
  border-radius: 50%;
  float: right;
  background-color: #fff;
  text-align: center;
  margin-left: 250px;
  margin-top: -34px;
}
.small-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/*UPVOTE BUTTON*/
.upvote-button {
  font-weight: 600;
  margin-right: 15px;
  width: 34px;
  text-align: center;
  padding: 4px 0;
  border-radius: 4px;
  background-color: #fff;
}
.upvote-button:hover {
  color: #5e9aee;
}
.upvote-button.active {
  color: #5e9aee;
}
.upvote-button > * {
  display: block;
  padding: 3px;
}

/* Category*/
.category-select {
  padding: 3px 5px;
  cursor: pointer;
  display: block;
}
/************* POPUP **************/
.popup .popup-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.97;
  z-index: 99;
}
.popup .popup-wrap img {
  position: fixed;
  top: 40px;
  left: 40px;
  cursor: pointer;
  
}
.popup .popup-content.post-popup {
  padding: 25px 25px 45px 25px;
  border-radius: 5px;  
}
.popup .popup-content {
  position: fixed;
  z-index: 999;
  background: #efefef;
}
.popup .popup-content > h1 {
  position: absolute;
}
.popup-close {
  position: absolute;
  right: 7%;
  top: 50px;
  padding: 10px;
  background: #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}
.popup-close:hover {
  color: #ddd;
  background-color: #888;
}
.absolute {
  position: absolute;
}
button.post-btn {
  margin-top: 10px;
  padding: 12px 70px;
  font-weight: 500;
  outline: 0;
  border: 0;
  background-color: #ff6633;
  color: white;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  background-color: #e5663b;
}
.popup-content.login-popup {
  text-align: center;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.facebook-btn {
  color: #fff;
  background-color: #3b5998;
  margin: 20px;
}
.post-popup {
  text-align: center;
  width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.post-header {
  padding-bottom: 15px;
}

/************* PRODUCT POPUP***************/
.product-popup {
  width: 80%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  overflow: scroll;
  border-left: 1px solid #f0efef;
}
.product-popup header {
  text-align: center;
  background-color: #5e9aee;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-popup header .header-shadow {
  background-color: transparent;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  padding: 45px;
}
.product-popup header .header-shadow > h1 {
  font-size: 40px;
  font-weight: 900;
  color: white;
  line-height: 48px;
}
.product-popup header .header-shadow > p {
  line-height: 55px;
  font-size: 18px;
  color: #cdd1d3;
}
.product-popup header .header-shadow > section > * {
  display: inline-block;
  vertical-align: middle;
}
.product-popup header .header-shadow > section .getit-btn {
  border-radius: 4px;
  padding: 15px 25px;
  background-color: #5898f1;
  color: white;
}
.product-popup .product-popup-body main .discussion {
  margin: 50px auto;
  width: 80%;
}
.product-popup .product-popup-body main .discussion h2{
  color: #999;
  padding-bottom: 20px;
}
.product-popup .product-popup-body main .discussion .post-comment{
  margin: 10px 0;
  padding: 20px;
  background-color: #f9f9f9;
  display: -webkit-flex;
  display: flex;
  -webkit-align-tems: center;
  align-items: center;
}
.product-popup .product-popup-body main .discussion .post-comment img {
  margin-right: 15px;
}
.product-popup .product-popup-body main .discussion .post-comment input {
  padding: 10px;
  font-size: 15px;
  width: 90%;
  border: 1px solid #f0efefd;
}
.comment-list li {
  padding: 20px 0 10px 0; 
  list-style: none;
}
.comment-list li > *{
  display: inline-block;
  vertical-align: top;
}
.comment-list li > section{
  margin-left: 15px;
}
.comment-list li > section strong {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 6px;
}
.comment-list li > section p {
  font-size: 14px;
}
select.select-category {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: url(../img/dropdown.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 170px;
  margin-left: 15px;
  height: 36px;
  margin-top: 1px;
}
/************* TOP TEN LIST***************/
.topten {
  list-style: none;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px 5px 22px 1px;
}
.topten:hover {
  background: #f2f2f2;
  color: #ff6633;
}
.topten:hover .topten-name { 
  color: #ff6633;
}
.topten:hover .topten-rank {
  color: #ff6633;
  opacity: 1;
  transition: opacity .7s;
  -webkit-transition: opacity .7s;
}
.topten:hover .topten-img {
  margin-left: 8px;
  transition: margin-left .6s;
  -webkit-transition: margin-left .6s;
}
.topten-img{
  z-index: 99;
  float: left;
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  margin-left: -30px;
}
.topten-description {
  margin-left: 46px;
  margin-top: 0px;
  color: #999;
  font-size: 11px;
}
.topten-name {
  font-size: 12px;
  vertical-align: super;
  color: #777;
}
.topten-rank {
  margin-top: 15px;
  font-size: 11px;
  float: left;
  opacity: 1;  
  padding-top: 2px;
  z-index: 0;
  opacity: 0;
  color: #aaa;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 11px;
  text-align: center;
  margin-left: 8px;
  margin-top: 16px;
}
.topten-ul {
  padding:0;
}
.topten-item {
  white-space: nowrap;
  overflow: hidden;  
}

/************* PROFILE MENU *************/
.profile-menu .profile-btn {
  opacity: 0.9;
}
.profile-menu .profile-btn:hover {
  cursor: pointer;
  opacity: 1;
}
.profile-menu .profile-nav {
  position: fixed;
  top: 53px;
  right: 70px;
  background-color: white;
  border-radius: 4px;
  text-align: left;
  box-shadow: 1px 1px 10px #999;
}
.profile-menu .profile-nav a {
  display: block;
  width: 240px;
  font-size: 15px;
  line-height: 38px;
  padding: 0 20px;
  color: #bbb;
}
.profile-menu .profile-nav a:hover {
  background-color: #f2f2f2;
  border-radius: 4px;
}
.profile-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
/************** PROFILE PAGE **************/
.profile-pg-img-container {
  background-color: #fff;
  margin-top: 15px;
  height: 180px;
}
.profile-pg-img {
  margin-top: 118px;
  float: left;
  border: 15px solid #fff;
  width: 150px;
  height: 150px;
  margin-left: 50px;
  padding: 0;
}
.profile-pg-name {
  padding-bottom: 15px;
  display: inline-block;
  position: absolute;
  margin-top: 132px;
  padding-left: 20px;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px 6px #555;
}
.profile-pg-description {
  padding: 25px 100px 45px 100px;
}
.profile-stat {
  display: inline-block;
  list-style: none;
  padding: 35px 25px 10px 25px;
  margin-left: 10px;
  color: #888;
}
.profile-stat > a {
  font-size: 14px;
}
.profile-stat > a:hover {
  color: #ff6633;
}
.profile-content-area {
  min-height: 300px;
  background: #fff;
  margin-top: 15px;
  padding: 110px 20px 15px 20px;
}
.profile-content-items {
  margin-top: 5px;
}
.profile-product {
  padding: 8px;
  cursor: pointer;
}
.profile-product .thumbnail{
  min-height: 200px;
  padding: 10px;
}
.profile-product .thumbnail:hover {
  background-color: #f1f1f1;
}
.profile-product-title {
  width: 70%;
  padding-left: 8px;
  color: #777;
}
.profile-product-img {
  width: 30%;
}
.profile-product-description {
  padding-top: 5px;
  white-space: normal;
  font-size: 13px;
}
.profile-product-btn {
  margin: 14px 5px 5px 5px;
  width: 90px;
  text-align: left;
  color: #888;
}
.profile-product-btn .fa-heart {
  color: #888;
}
/********** POST CARD **************/
.postcard {
  margin-bottom: 30px;
}
.postcard-img {
  height: 202px;
}
.postcard-title {
    position: absolute;
    bottom: 24px;
    z-index: 99;
    margin-left: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #777;
}


/************** MEDIA QUERY *************/
/************** MEDIA QUERY *************/
/************** MEDIA QUERY *************/
@media(max-width: 767px){

  /********* NAVBAR ************/
  .navbar-header {
    background-color: #fff;
    height: 48px;
  }
  .product-search-box {
    width: 140px;
  }
  .product-search{
    width: 100px;
  }
  .navbar-toggle {
    margin-top: 6px;
    margin-bottom: 3px;
  }
  /************* POP UPS *************/
  .popup .popup-content.post-popup {
    padding: 5px 15px 25px 15px;
    width: 340px;
  }
  .post-btn {
    width: 100%;
    margin-top: 0;
  }
  .padding-zero-left {
    padding-left: 0;
  }
  .popup-close {
    right: 4.4%;
  }
  /********* LANDING PAGE ************/
  .landing-banner {
    margin-top: 0;
  }
  .control-label {
    text-align: right;
  }
  /***** New Post Pop Up****/
  select.select-category {
    margin-left: 0;
  }
  /******* Profile Page ********/
  .profile-pg-img-container {
    text-align: center;
  }
  .profile-pg-img {
    margin: 8px auto;
    border-radius: 50%;
    position: relative;
    float: none;
    width: 116px;
    height: 116px;
  }
  .profile-pg-name {
    display: block;
    position: relative;
    margin-top: 0px;
    padding: 5px;
    font-size: 18px;
  }
  .main-btn-container {
    text-align: center;
    font-size: 12px;
  }
  .profile-stat {
    margin-left: 0;
    font-size: 14px;
  }
  .profile-product-img {
    width: 90px;
  }
  .profile-product-title {
    width: 100%;
  }
  .profile-pg-description {
    padding: 0px 30px 45px 30px;
  }
  .profile-content-items {
    margin-top: 0px;
  }
  /*** Post Card Mobile ***/
  .postcard {
    font-size: 12px;
  }
  .postcard-img {
    height: 150px;
  }

@media(min-width: 768px) and (max-width: 991px){
  .product-list-canvas{
    padding-right: 0;
  }
}

@media(min-width: 768px){
  .popup .popup-content.post-popup {
    min-width: 80%;
  }
}














